<div class="archive">
  <p class="post_content"> 
    I am currently a PhD student working in Natural Language Processing (NLP).
  </p>
  <p class="post_content">
    I joined the the <a href='https://www.informatik.tu-darmstadt.de/ukp/ukp_home/index.en.jsp'>UKP Lab</a>, <a href='https://www.tu-darmstadt.de/'>Techinical University of Darmstadt</a> since Sept. 2020. My supervisors are <a href='https://www.nils-reimers.de/research/'>Dr. Nils Reimers</a> and <a href='https://www.informatik.tu-darmstadt.de/ukp/ukp_home/head_ukp/index.en.jsp'> Prof. Iryna Gurevych</a>.
  </p>
  <p class="post_content">
    My research interests mainly include low-resource text embeddings and open-domain question answering.
  </p>
  <p class="post_content"> 
    I am also responsible for the invited talks at UKP. If interested, please <a href="mailto:kwang@ukp.informatik.tu-darmstadt.de">send me an email</a>.
  </p>
</div>

<div class="archive">
  {% for category in site.categories %}
    <p class="header_level2"> {{ category[0] }} </p>

    {% for post in site.posts %}
      {% if post.categories[0] == category[0] %}
        <ul>
          <li>
            <!-- <time class='archive_date' datetime='{{ post.date | date_to_xmlschema }}'>
              {{ post.date | date: "%b %d" }}
            </time> -->

            <!-- Publications: -->
            {% if post.categories[0] == 'Publications' %}
              <a href='{{ post.paper | relative_url }}'>
                {{ post.title | escape}}
              </a> 
              <br>
              <span>{{ post.author }}.</span>
              <span>{{ post.venue }}.</span>
              {% if post.code %}
                <a href='{{ post.code | relative_url }}'>
                  [code]
                </a>
              {% endif %}
              {% if post.data %}
                <a href='{{ post.data | relative_url }}'>
                  [data]
                </a>
              {% endif %}
            <!-- Open-source: -->
            {% elsif post.categories[0] == 'Open-source' %}
              <a href='{{ post.url | relative_url }}'>
                {{ post.title | escape}}
              </a> 
              <br>
              <span>{{ post.description }}</span>
              <a href='{{ post.repo | relative_url }}'>
                  [Repo]
              </a>
            <!-- Common posts: -->
            {% else %}
              <div class='archive_title'>
                <a href='{{ post.url | relative_url }}'>
                  {{ post.title | escape }}
                </a>
              </div>
            {% endif %}


          </li>
        </ul>
      {% endif %}
    {% endfor %}

  {% endfor %}
</div>